@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet');

body{
    font-family: 'Nerko One', cursive;
    margin: 20px
}

/** container **/
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}




